<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Prendas">
    <select id="getAllPrendas" resultType="modelo.pojos.Prendas" statementType="CALLABLE">
        {CALL sp_getAllPrendas()}
    </select>
    <insert id="registrarPrendas" parameterType="map" statementType="CALLABLE">
        {CALL sp_registrarPrendas(
        #{idEmpeño, jdbcType=INTEGER, mode=IN},
        #{categoria, jdbcType=VARCHAR, mode=IN},
        #{numPiezas, jdbcType=INTEGER, mode=IN},
        #{serie, jdbcType=VARCHAR, mode=IN},
        #{modelo, jdbcType=VARCHAR, mode=IN},
        #{subCategoria, jdbcType=VARCHAR, mode=IN},
        #{descripcionPrenda, jdbcType=VARCHAR, mode=IN},
        #{metal, jdbcType=VARCHAR, mode=IN},
        #{peso, jdbcType=VARCHAR, mode=IN},
        #{kilataje, jdbcType=VARCHAR, mode=IN},
        #{prestamo, jdbcType=VARCHAR, mode=IN},
        #{modeloPrenda, jdbcType=VARCHAR, mode=IN},
        #{precioComercializacion, jdbcType=VARCHAR, mode=IN},
        #{precioVenta, jdbcType=VARCHAR, mode=IN},
        #{estatusPrenda, jdbcType=VARCHAR, mode=IN},
        #{comercializacionAsociada, jdbcType=VARCHAR, mode=IN},
        #{fechaCreacion, jdbcType=TIMESTAMP, mode=IN},
        #{fechaComercializacion, jdbcType=TIMESTAMP, mode=IN},
        #{fechaVenta, jdbcType=TIMESTAMP, mode=IN},
        #{idUsuario, jdbcType=INTEGER, mode=IN}
        )}
    </insert>
</mapper>  
